.git
.github
.idea
.gradle
docs
infra
*.md
.env
.env.*
!.env.example


gradle
gradlew
gradlew.bat
buildSrc
settings.gradle
module-account
module-receipt
module-report
module-place
module-core
app-server/src

app-server/build/classes
app-server/build/tmp
app-server/build/resources
app-server/build/generated
app-server/build/reports
app-server/build/test-results
