#   1. application-prod.yml에 ${KEY} 자리 추가
#   2. deploy.yml의 ENV_CONTENT에 한 줄 추가
#   3. 비공개시 GitHub Secrets에 등록


ECR_IMAGE=
SPRING_PROFILES_ACTIVE=prod
CORS_ALLOWED_ORIGIN_PATTERNS=
DB_HOST=
DB_PORT=5432
DB_NAME=chapchap
DB_USERNAME=chapchap
DB_PASSWORD=
REDIS_HOST=redis
REDIS_PORT=6379
KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=
KAKAO_ADMIN_KEY=
KAKAO_REDIRECT_URI=
OAUTH_WEB_REDIRECT_URI=
OAUTH_APP_REDIRECT_URI=
JWT_SECRET=
TZ=Asia/Seoul
